<!-- Created 4/21/2020 by Tze Hei Tam -->
<!-- Edited 4/23/2020 by Nick Harvey: CSS and HTML styling -->
<!-- Edited 4/24/2020 by Nick Harvey: Home page mockup -->
<div class="p-3 main">
  Campus cafe located in <strong>THE</strong> heart of Ohio States University District.<br>
  Live music, hot coffee, great bean selection and a food menu to please everyone!<br>
  <br>
  <strong>Hours</strong><br><small>
  <strong>Mondays</strong>...Closed<br>
  <strong>Tuesday - Saturday</strong>...7pm - 2:30am<br>
  <strong>Sunday</strong>...Browns games when in season<br>
  <strong>GAMEDAYS</strong>...Hours vary, check our social media<br>
  <strong>Closed</strong> most holidays but <strong>ALWAYS OPEN</strong> for New Year's Eve<br>
  <br></small>
</div>
<div class="text-light fixed-bottom">
  2203 North High Street, Columbus, Ohio 43201, United States<br>
  (614) 732-4404<br>
</div>